@{
  Layout = "_Layout";
}

@using VendorAndOrderTracker.Models;

<h1 class="jumbotron">Here are all the orders for @Model["vendor"].Name:</h1>

@if (@Model["orders"].Count == 0)
{
  <h3>No orders have been added yet!</h3>
}
else
{
  <p>Click an order for more details:</p>
  <ol>
  @foreach (Order order in @Model["orders"])
    {
      <li><a href='/vendors/@Model["vendor"].Id/orders/@order.Id'>@order.Description</a></li>
    }
  </ol>
}

<p><a href='/vendors/@Model["vendor"].Id/orders/new'>Add a new order</a></p>
<p><a href='/vendors'>Return to vendor list</a></p>
<p><a href='/'>Return to Main Page</a></p>