@{
  Layout = "_Layout";
}


<h1 class="jumbotron">Welcome to Pierre's Vendor and Order Tracker!</h1>

<p><a href='/vendors/new'>Add a new vendor</a></p>
<p><a href='/vendors'>See list of vendors</a></p>